body, html {
    height: 100%;
    font-size: large;
}

#seekbar {
    @media screen and (max-width: 900px) {
        position: relative;
        max-width: 70%;
        width: 70%;
        max-height: 10%;
        height: 10%;
    }

    @media screen and (min-width: 900px) {
        position: relative;
        max-width: 640px;
        width: 640px;
        max-height: 10%;
        height: 10%;
    }
}

#video_player {
    @media screen and (max-width: 900px) {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
    }

    @media screen and (min-width: 900px) {
        position: relative;
        max-width: 100%;
        max-height: 85%;
        height: 85%;
    }
}

#play, #pause, #back, #forward {
    @media screen and (max-width: 900px) {
        position: relative;
        max-width: 30%;
        max-height: 100%;
        height: 100%;
        font-size: x-large;
    }

    @media screen and (min-width: 900px) {
        position: relative;
        max-width: 10%;
        max-height: 100%;
        height: 100%;
        font-size: large;
    }
}

#reset {

    @media screen and (max-width: 900px) {
        position: relative;
        max-width: 30%;
        max-height: 100%;
        height: 100%;
        font-size: x-large;
    }

    @media screen and (min-width: 900px) {
        position: relative;
        max-width: 10%;
        max-height: 100%;
        height: 100%;
        font-size: large;
    }
}

#slow, #normal, #fast {
    @media screen and (max-width: 900px) {
        position: relative;
        max-width: 30%;
        max-height: 100%;
        height: 100%;
        font-size: x-large;
    }

    @media screen and (min-width: 900px) {
        position: relative;
        max-width: 10%;
        max-height: 100%;
        height: 100%;
        font-size: large;
    }
}

.sp {
    @media screen and (max-width: 900px) {
        display: block;
    }

    @media screen and (min-width: 900px) {
        display: none;
    }
}

#controls_pc {
    @media screen and (max-width: 900px) {
        position: relative;
        max-width: 100%;
        max-height: 10%;
        height: 10%;
    }

    @media screen and (min-width: 900px) {
        position: relative;
        max-width: 100%;
        max-height: 5%;
        height: 5%;
    }
}
/*
#controls_pc {
    @media screen and (max-width: 1280px) {
        display: none;
    }

    @media screen and (min-width: 1280px) {
        display: inline;
    }
}

#controls_sp {
    @media screen and (max-width: 1280px) {
        display: inline;
    }

    @media screen and (min-width: 1280px) {
        display: none;
    }
}
*/

img {
    position: relative;
    max-width: 10%;
    max-height: 100%;
    height: 100%;
}

#comment_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.comment {
    position: absolute;
    white-space: nowrap;
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 4px black, -2px -2px 4px black, 2px -2px 4px black, -2px 2px 4px black;
    animation: move 5s linear forwards;
    animation-fill-mode: forwards; /* アニメーション終了後の状態を保持 */
}

@keyframes move {
    from {
        transform: translateX(1000%);
    }
    to {
        transform: translateX(-120%);
    }
}


#comment_input {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

#comment_text {
    width: 300px;
    padding: 5px;
    font-size: 16px;
}

#send_comment {
    padding: 5px 10px;
    font-size: 16px;
    margin-left: 10px;
}